* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Urbanist", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: linear-gradient(0deg, #171c25 0%, #4f4f75 100%);
  color: #bebebe;
  text-shadow: 1px 0px 1.75px #bebebe;
}

@media (prefers-color-scheme: light) {
  html {
    background: linear-gradient(0deg, #ebebeb 0%, #d8e3ee 100%) !important;
    color: #006ebc;
    text-shadow: 1px 0px 1.75px #006ebc;
  }
}

/* Tailwind */
.menuToggle {
  @apply absolute top-1 left-1/2 z-50 aspect-square h-8 w-auto cursor-pointer select-none overflow-visible drop-shadow-md hover:drop-shadow-mdHover dark:drop-shadow-mdDark hover:dark:drop-shadow-mdDarkHover;
}

.modalButton {
  @apply flex h-fit w-20 cursor-pointer select-none flex-col items-center overflow-visible fill-blue-500 drop-shadow-md hover:fill-red-500 hover:text-red-500 hover:drop-shadow-mdHover dark:fill-gray-500 dark:drop-shadow-mdDark dark:hover:fill-lime-500 dark:hover:text-lime-500 hover:dark:drop-shadow-mdDarkHover [&>svg]:h-6 [&>svg]:w-min;
}

.modalButton:hover,
.active,
.hover:hover {
  text-shadow: 1px 0px 1.75px #ccff66 !important;
}

@media (prefers-color-scheme: light) {
  .modalButton:hover,
  .active,
  .hover:hover {
    text-shadow: 1px 0px 1.75px #fe3632 !important;
  }
}

.active {
  @apply fill-red-500 text-red-500 drop-shadow-mdHover dark:fill-lime-500 dark:text-lime-500 dark:drop-shadow-mdDarkHover;
}

.optionsButton {
  @apply hover cursor-pointer rounded-lg bg-blue-500 bg-opacity-25 px-2 py-1 font-bold hover:bg-red-500 hover:bg-opacity-25 hover:text-red-500 dark:bg-gray-500 dark:bg-opacity-25 dark:hover:bg-lime-500 dark:hover:bg-opacity-25 hover:dark:text-lime-500;
}

.closed {
  @apply bg-[#acddff] text-[#009698];
}

.point {
  @apply bg-[#3cf5aa] text-[#08afff];
}

.open {
  @apply bg-[#08afff] text-[#3cf5aa];
}
