---
import Menu from "components/Menu";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Menu client:only="react" />
  <!-- <p class="absolute top-1/2 left-1/2" style="transform:translate(-50%,-50%)">
    Loading...
  </p> -->
</Layout>
