html, body{
    background: rgb(24, 28, 36);
  /* background: linear-gradient(18deg, rgba(24, 28, 36, 1) 0%, rgba(79, 79, 114, 1) 100%); */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

p{
  margin: 0;
}

a{
  color: inherit;
}

a, body{
  color: #056D58;
  text-shadow: 1px 0px 1.75px #056D5867;
}

@media (prefers-color-scheme: dark) {
a,
body {
  color: #bebebe;
  text-shadow: 1px 0px 1.75px #bebebe47;
}
}

.threeCanvas{
  margin-bottom: -100vh;
  position: absolute !important;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 30;
}

.input_video, .input_video2 {
  display: none;
}
.input_video.selfie {
  transform: scale(-1, 1) !important;
}

.canvas-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.guides {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 1;
}

.shoutout {
  left: 0;
  right: 0;
  bottom: 40px;
  /* text-align: center; */
  font-size: 24px;
  position: absolute;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.caption {
  position: absolute;
  width: 50vw;
  z-index: 200;
  top: 0;
  padding: 20px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.mobileCaption{
position: absolute;
width: 50vw;
z-index: 200;
top: 0;
padding: 20px;
text-align: center;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
font-size: 14px;
user-select: none;
-webkit-user-select: none;
-moz-user-select: none;

}
.statusbar{
  margin: 0 auto;
  width: fit-content;
  text-align: center;
  padding-top: 10px;
}

@keyframes gugmu9vdpaw {
  0% {
    transform: rotate(0deg)
  }

  50% {
    transform: rotate(180deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

.gugmu9vdpaw div {
  position: absolute;
  animation: gugmu9vdpaw 0.25s linear infinite;
  width: 40px;
  height: 40px;
  top: 80px;
  left: 80px;
  border-radius: 50%;
  box-shadow: 0 1.8px 0 0 #bebebe;
  transform-origin: 20px 20.9px;
}

.canvasSpinner {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.gugmu9vdpaw {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.gugmu9vdpaw p {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -55%);
  text-shadow: 10px 10px 20 1 #bebebe;
  font-size: 12px;

}